.AssistantDashboard{
    height: 100%;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
    overflow: hidden;
}
.AssistantSearch{
    height: 79px;
position: relative;
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    border-radius: 10px;

    width: 60%;
    display: flex;
    .imputcontroller{
        position: relative;
    width: 100%;
    img{
        position: absolute;
    top: 25px;
    right: 3%;
    }
    input{
        font-family: Montserrat;
    font-style: normal;
    padding-left:3%;
    font-weight: normal;
    font-size: 22px;
    line-height: 27px;
    display: flex;
    align-items: center;
    color: #182542;
    opacity: 0.5;
    border: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    &:focus{
        outline: -webkit-focus-ring-color auto 0px !important;
    }
    }
}


.dropdownsearch{
    position: absolute;
    width: 28%;
    border: 1px solid #e5e5e5;
    top: 80px;
    background: white;
    /* background: red; */

    z-index: 3;
    border-top: none;
    border-bottom: none;
    .insidedropdownsearch{
        width: 100%;
        display: flex;
        cursor: pointer;
        border-bottom: 1px solid #e5e5e5;
        align-items: center;
        padding-left: 9%;
        height: 5rem;
    p{
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 22px;
        line-height: 27px;
        display: flex;
        align-items: center;
        color: #182542;
        margin: 0;
        margin-left: 1rem;
    }

}
}
    

    .insidesearchdsiplay{
        
        border-right: 1px solid #E5E5E5;
        width: 35%;
        display: flex;
        padding-left:3%;
        align-items: center;
    p{
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 22px;
        line-height: 27px;
        display: flex;
        align-items: center;
        color: #182542;
        margin: 0;
        margin-left: 1rem;
    }

}
}


.Asssitantlist
{
    height: 181px;
    margin-top: 2%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 3%;
    padding-right: 3%;
    background: #FFFFFF;
    border: 0.5px solid #E5E5E5;
    border-radius: 5px;
    transition: all ease-in 0.5s;
    &:hover{
        transform: scale(1.03);
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        p{
            font-family: Montserrat;
            font-style: normal;
            font-weight: 300;
            font-size: 24px;
        }
        h3{
            font-family: Montserrat;
    
            font-style: normal;
            font-weight: 600;
            font-size: 42px;
            
        }
        img{
            transform: scale(1.02);
        }
    }
    cursor: pointer;
   img{
    width: 78px;
    transition: all ease-in 0.5s;
    height: 78px;
   } 
   p{
    transition: all ease-in 0.5s;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 27px;
    display: flex;
    align-items: center;
    color: #182542;
    margin-top: 0;
    margin: 0;
   }
h3{
    font-family: Montserrat;
    transition: all ease-in 0.5s;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 49px;
    display: flex;
    align-items: center;
    color: #182542;
    margin: 0;
}
.messagelabel{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #182542;
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    border-radius: 5px;
    width: 208.88px;
    height: 74px;
    justify-content: center;
    margin-bottom: 0;
    transition: all ease-in-out 0.5s;
    &:hover{
        font-size: 22px; 
    }
}
.meetinglabel{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: 1rem;
    color: #FFFFFF;
    background: #5ABEA0;
    border: 1px solid #5ABEA0;
    border-radius: 5px;
    width: 208.88px;
    height: 74px;
    justify-content: center;
    margin-bottom: 0;
    transition: all ease-in-out 0.5s;
    &:hover{
        font-size: 22px; 
    }
}
}